<% if @food_item.present? %>
  <% if @food_item.errors.any? %>
    <% @food_item.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new food item
</h1>


<hr>

<form action="/create_food_item" method="post">

  <div class="form-group">
    <label for="food_item">
      Food item
    </label>

    <input type="text" id="food_item" name="food_item" class="form-control" value="<%= @food_item.food_item %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create food item
  </button>
</form>

<hr>

<a href="/food_items">
  Go back
</a>
