<h1>
  Add a new food item
</h1>


<hr>

<form action="/create_food_item" method="post">

  <div class="form-group">
    <label for="food_item">
      Food item
    </label>

    <input type="text" id="food_item" name="food_item" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create food item
  </button>
</form>

<hr>

<a href="/food_items">
  Go back
</a>
